*
{
	padding:0px;
	margin:0px;
}

body
{
	direction:rtl;
	background-color:#EFF1F2;
	font-family: yekan;
	padding-top:50px;
}



@font-face {
	font-family: 'yekan';
	src: url('fonts/Yekan.eot');
	src: url('fonts/Yekan.eot?#iefix') format("embedded-opentype"),
		 url('fonts/Yekan.woff') format("woff"), 
		 url('fonts/Yekan.ttf') format("truetype"), 
		 url('fonts/Yekan.svg') format("svg");

}

@font-face {
    font-family: 'BTabassom';
    src: url('../fonts/BTabassom.eot');
    src: url('../fonts/BTabassom.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BTabassom.woff') format('woff'),
         url('../fonts/BTabassom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'BTitr';
    src: url('../fonts/BTitr.eot');
    src: url('../fonts/BTitr.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BTitr.woff') format('woff'),
         url('../fonts/BTitr.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}